.vujahday-script-regular {
  font-family: "Vujahday Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.winky-rough-regular {
  font-family: "Winky Rough", sans-serif;
  font-weight: 300;
  font-style: normal;
}
:root {
    --primary-color: #E39316; /*Harvest Gold*/
    --secondary-color: #3FACE4; /*Picton Blue*/
    --accent1-color: #1A70B6; /*Azul*/
    --accent2-color: #1F3256; /*Delft Blue*/
    --heading-font: "Vujahday Script", cursive;
    --body-font: "Winky Rough", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    max-width: 100vw;
    margin: 0 auto;
}
header, main, footer {
    width: 1140px;
    margin: 0 auto;
}
header {
    background-color: var(--accent2-color);
    display: grid;
    grid-template-columns: 490px 1fr;
    align-items: center;
}
.navagation {
    display: flex;
    justify-content: space-around;
}
.navagation a{
    border: 7px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 40%;
    text-decoration: none;
    color: #fff;
}
header img {
    width: 150px;
    margin: 15px;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 50px;
    display: flex;
    justify-content: center;
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.socialmedia {
    display: flex;
    justify-content: space-around;
    width: 200px;
    grid-column: 3/4;
}
.hero{
    position: relative;
    display: flex;
}
.hero img {
    display: block;
    width: 100%;
    padding-top: 50px;
    height: auto;
    opacity: 0.8;
}
h1 {    
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 16px;
    font-size: 70px;
    text-align: center;
    color: #fff;
}
article {
    position: absolute;
    top: 290px;
    width: 97%;
    height: 130px;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: #fff;
}
.hero article img {
    padding-top: 0px;
    margin: 0 auto;
    float: right;
    width: 145px;
}
.history div {
    display: flex;
}
.adventure div {
    display: flex;
    justify-content: space-around;
}
.socialmedia img {
    width: 50px;
    height: auto;
}
section img {
    width: 200px;
}
footer {
    background-color: var(--accent2-color);
    text-align: center;
    display: grid;
    grid-template-columns: 25vw 1fr 25vw;
    align-items: center;
    color: #fff;
}
footer p {
    grid-column: 2/3;
}